@use "./boardVariables";


.board {
    --cellSize: 80px;

    display: grid;
    grid-template-rows:
        max-content
        repeat(boardVariables.$boardSize, boardVariables.$cellSize)
        max-content;
    grid-template-columns:
        max-content
        repeat(boardVariables.$boardSize, boardVariables.$cellSize)
        max-content;
}
