@use "./boardVariables";


.piece {
    grid-area: #{boardVariables.$firstCellNumber} / #{boardVariables.$firstCellNumber};
    z-index: boardVariables.$pieceZIndex;
    width: 100%;
    height: 100%;

    transition: transform 500ms, filter 250ms;

    &:hover {
        filter: drop-shadow(0 0 1rem crimson);
    }

    &.active {
        filter: drop-shadow(0 0 1rem green);
    }

    @for $x from 0 through boardVariables.$boardSize {
        @for $y from 0 through boardVariables.$boardSize {
            &#{$x}_#{$y} {
                transform: translate(
                        calc($x * #{boardVariables.$cellSize}),
                        calc($y * #{boardVariables.$cellSize})
                );
            }
        }
    }
}
