@use "@/styles/colors";
@use "@/styles/variables";


@mixin _theme($colors) {
    @each $name, $color in $colors {
        #{colors.getVariableName($name)}: $color;
    }
}

@mixin _light {
    @include _theme((
        background: lightgray,
        primary: black,
        secondary: #666,
        dangerous: red,
        border: black,
        shadow: dimgray,
        headerLine: #eaeaea,
        button: #bcbdd5,
        hoveredButton: #abacc1,
        activeButton: #a2a0ab,
        chessPanel: #bcbdd5,
        chessDeletedPiece: #c9bebe,
        chessHoveredHistoryItem: navajowhite,
        chessSelectedHistoryItem: white
    ));
}

@mixin _dark {
    @include _theme((
        background: black,
        primary: lightgray,
        secondary: #888,
        dangerous: red,
        border: lightgray,
        shadow: gray,
        headerLine: #333,
        button: #211e1e,
        hoveredButton: #2d2d2d,
        activeButton: #404040,
        chessPanel: #211e1e,
        chessDeletedPiece: #999,
        chessHoveredHistoryItem: #777,
        chessSelectedHistoryItem: #2c2c2c
    ));
}

.theme {
    @media (prefers-color-scheme: dark) {
        @include _dark;
    }

    @media (prefers-color-scheme: light) {
        @include _light;
    }
}

.dark {
    @include _dark;
}

.light {
    @include _light;
}

.main {
    margin-top: 1rem;
}
