@use "@/styles/colors";


.header {
    display: flex;
    justify-content: space-between;
}

.headerButton {
    composes: square from "@/styles/button.module.scss";

    flex-shrink: 0;
}

.resetZoomImage, .lightThemeImage, .darkThemeImage {
    composes: image from "@/styles/button.module.scss";

    stroke: colors.$primary;
}


.main {
    margin-top: 1rem;
}
