.wrapper {
    position: relative;
}

.overflow {
    position: absolute;

    height: 1px;

    visibility: hidden;
}

.container {
    container-type: inline-size;
}

.widthIndicator {
    min-width: 100%;
    width: fit-content;
}
