@use "_/boardVariables";


.board {
    grid-area: 2 / 2;

    display: grid;
    grid-template-rows: repeat(boardVariables.$boardSize, boardVariables.$cellSize);
    grid-template-columns: repeat(boardVariables.$boardSize, boardVariables.$cellSize);
}
