@use "@/styles/colors";
@use "_/boardVariables";


.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
        grid-area: 1 / 1;
    }
}

.white {
    background-color: orange;
}

.black {
    background-color: black;
}


.sign {
    width: 50%;
    height: 50%;
    border-radius: 50%;

    transition: background-color 250ms;

    &:not(.none) {
        $backgroundColor: var(--backgroundColor);

        z-index: boardVariables.$signZIndex;

        &:not(:hover) {
            background-color: colors.setAlpha($backgroundColor, 0.5);
        }

        &:hover {
            background-color: colors.setAlpha($backgroundColor, 1);
        }
    }

    &.none {
        background-color: transparent;
    }
}

.movement {
    --backgroundColor: lightsteelblue;
}

.attack {
    --backgroundColor: red;
}

.enPassant {
    --backgroundColor: yellow;
}

.castling {
    --backgroundColor: green;
}
