@use "_/boardVariables";


.piece {
    grid-area: 1 / 1;

    width: 100%;
    height: 100%;
    z-index: boardVariables.$pieceOnBoardZIndex;

    transition: transform 500ms, filter 250ms;

    &:hover {
        filter: drop-shadow(0 0 1rem crimson);
    }

    &.selected {
        filter: drop-shadow(0 0 1rem green);
    }

    @for $x from 0 to boardVariables.$boardSize {
        @for $y from 0 to boardVariables.$boardSize {
            &#{$x}_#{$y} {
                transform: translate($x * 100%, $y * 100%);
            }
        }
    }
}
