@use "_/boardVariables";


@mixin _fileSignatures {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(boardVariables.$boardSize, 1fr);
}

@mixin _rankSignatures {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(boardVariables.$boardSize, 1fr);
}

.topSignatures {
    @include _fileSignatures;
    grid-area: 1 / 2;
}

.leftSignatures {
    @include _rankSignatures;
    grid-area: 2 / 1;
}

.bottomSignatures {
    @include _fileSignatures;
    grid-area: 3 / 2;
}

.rightSignatures {
    @include _rankSignatures;
    grid-area: 2 / 3;
}
