@function getColorVariableName($name) {
    @return --#{$name}Color;
}

@function _getVariable($name) {
    @return var(getColorVariableName($name));
}

$background: _getVariable(background);
$primary: _getVariable(primary);
$border: _getVariable(border);

$colors: (
    background: lightgray,
    primary: black,
    border: black
);
