@use "@/styles/colors";


.base {
    cursor: pointer;

    padding: 0;
    overflow: hidden;

    border: 0.05rem solid colors.$border;

    background-color: colors.$button;

    transition: background-color 150ms;

    &:hover {
        background-color: colors.$hoveredButton;
    }

    &:active {
        background-color: colors.$activeButton;
    }
}

.square {
    @extend .base;

    $buttonSize: var(--buttonSize);

    --buttonSize: 1.8rem;

    width: $buttonSize;
    height: $buttonSize;

    border-radius: 20%;
}

.image {
    display: block;

    width: 100%;
    height: 100%;
}
