@use "_/colors" as *;


@mixin _variables($colors) {
    @each $name, $color in $colors {
        #{getColorVariableName($name)}: $color;
    }
}

.light {
    @include _variables((
        background: lightgray,
        primary: black,
        border: black,
        button: #bcbdd5,
        activeButton: #a2a0ab,
        chessPanel: #bcbdd5,
        chessDeletedPiece: #c9bebe,
        chessHoveredHistoryItem: navajowhite,
        chessSelectedHistoryItem: white
    ));
}

.dark {
    @include _variables((
        background: black,
        primary: lightgray,
        border: lightgray,
        button: #211e1e,
        activeButton: #333,
        chessPanel: #211e1e,
        chessDeletedPiece: #999,
        chessHoveredHistoryItem: #777,
        chessSelectedHistoryItem: #2c2c2c
    ));
}
