@use "@/styles/colors";


$_modalTransitionKind: var(--modalTransitionKind);

.container {
    --modalTransitionKind: 300ms;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: colors.setAlpha(colors.$background, 0);

    transition: background-color $_modalTransitionKind;
}

.completelyClosed {
    pointer-events: none;
}

.open {
    background-color: colors.setAlpha(colors.$background, 0.5);
}

.content {
    scale: 0;

    transition: scale $_modalTransitionKind;

    .open > & {
        scale: 1;
    }
}
